* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #392815;
    color: white;
    display: flex;
    min-height: 100vh; 
    justify-content: center; 
    align-items: center; 
}

.contenedor {
    text-align: center; 
}